@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-red: #E61A27;
    --secondary-red: #800E16;
    --primary-blue: #015CA8;
    --secondary-blue: #08355B;
    --light-gray: #F6F6F6;
    --gray: #888888;
    --dark-gray: #666666;
    --black: #000000;
    --white: #ffffff; 

    --red-gradient: linear-gradient(to right, #E61A27, #800E16);
    --blue-gradient: linear-gradient(to right, #015CA8, #08355B);
}

/* GENERAL */
html,
body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 3rem;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 1.7rem;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; 
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 40px;
    background: url('../img/footer.png') center center/cover no-repeat;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.footer-content .container {
    z-index: 2;
}

.footer-links a {
    color: var(--white);
    margin: 0 20px; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: 400;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo img {
    width: 200px; 
    height: auto; 
    margin-bottom: 25px;
}


.red-line {
    margin: 0;
    height: 20px;
    width: 100%;
    background-color: var(--primary-red);
}

.blue-line {
    margin: 0;
    height: 20px;
    width: 100%;
    background-color: var(--primary-blue);
}


/* Custom Button */
.custom-btn, .custom-btn2 {
    color: var(--white);
    border: 2px solid var(--white);
    padding: 5px 30px;
    border-radius: 30px;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    font-weight: 600;
}

.custom-btn:hover,
.custom-btn:focus {
    color: var(--white);
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

.custom-btn:active {
    color: var(--white);
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

.custom-btn2:hover,
.custom-btn2:focus {
    color: var(--white);
    background-color: var(--primary-red);
    border-color: var(--primary-red);
}

.custom-btn2:active {
    color: var(--white);
    background-color: var(--primary-red);
    border-color: var(--primary-red);
}

.custom-btn3 {
    color: var(--white);
    background-color: var(--primary-blue);
    padding: 5px;
    width: 100%;
    border-radius: 30px;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    font-weight: 600;
}

.custom-btn3:hover,
.custom-btn3:focus {
    color: var(--white);
    background-color: var(--primary-red);
    border-color: var(--primary-red);
}

.custom-btn3:active {
    color: var(--white);
    background-color: var(--primary-red);
    border-color: var(--primary-red);
}

/* Navbar */
/* Initial Navbar Styles 
.navbar {
    background: transparent !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-link.active {
    color: white;
    text-decoration: underline;
}

.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
    color: white;
    text-decoration: underline;
}*/


/* Scrolled Navbar Styles */
.navbar {
    background: white !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.navbar .navbar-nav .nav-link {
    color: var(--primary-blue);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--primary-red);
    text-decoration: underline;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--primary-blue);
}


/* Overlay */
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/* Style1 */
/* CSS for image and container */
.style1 .col-lg, .style2 .col-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style 1 */
.style1 {
    padding: 50px; 
}

.style1 .image-wrapper {
    width: 100%; 
    height: 300px; 
    position: relative; 
}

.style1 .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.style1 .text-content-right {
    padding: 20px; 
    position: relative;
}


/* Style 2 */
.style2 {
    padding: 20px 50px; 
}

.style2 .image-wrapper {
    width: 100%; 
    height: 320px; 
    position: relative; 
}

.style2 .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.style2 .text-content-right {
    padding: 20px; 
    position: relative;
}


/* Style 3 */
.style3 {
    padding: 100px 50px; 
}

.style3 .image-wrapper {
    width: 100%; 
    height: 200px; 
    position: relative; 
}

.style3 .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.style3 .text-content-right {
    padding: 20px; 
    position: relative;
}



/* LANDING PAGE */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/hero-banner.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
}

.masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 50px;
    z-index: 2;
}

.cta-block1 {
    margin: 0;
    color: var(--white);
    background: var(--red-gradient);
}

.cta-block2 {
    margin: 0;
    color: var(--white);
    background: var(--blue-gradient);
}

.our-mission {
    position: relative;
    width: 100%;
    background: url('../img/red-blue.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
}

.mission-content {
    z-index: 2;
}

.col-lg-3.athlete {
    position: absolute; 
    top: -200px; 
    right: 0; 
    width: 500px; 
    height: auto;
    z-index: 0; 
}

.athlete img {
    width: 100%; 
    height: auto;
}

.how {
    padding: 100px;
}


/* FEATURES */
.sub-hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../img/banner.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.centered-text {
    width: 60%;
    margin: 10px  auto;
    font-size: 1.3rem;
}


/* ABOUT US */
.full-width-image {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.full-width-image img {
    width: 100%; 
    height: auto; 
    display: block;
}

.team-member img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
}

.team-member h5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.team-member p {
    font-size: 1rem;
    color: #777; 
}


/* CONTACT US */
.contact {
    width: 80%;
    padding: 30px 20px;
}

.custom-input {
    background-color: var(--light-gray);
    border: 1px solid var(--gray); 
    border-radius: 1rem; 
    color: var(--gray); 
    padding: 0.5rem 1rem; 
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
}
